.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.reserveModalContainer {
    background: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 30vw;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    z-index: 1001;
}

.guestListWrapper,
.timeListWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.scrollButton {
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.guestListWrapper .scrollButton.left,
.timeListWrapper .scrollButton.left {
    left: 0;
}

.guestListWrapper .scrollButton.right,
.timeListWrapper .scrollButton.right {
    right: 0;
}

.guestButtons,
.timeButtons {
    display: flex;
    overflow-x: hidden;
    gap: 8px;
    padding: 10px 40px;
    width: 100%;
    scroll-behavior: smooth;
}

.guestButton,
.timeButton {
    height: 60px;
    border-radius: 50%;
    text-align: center;
    padding-top: 8px;
    font-size: 13px;
    font-weight: bold;
    border: 1px solid #ff3d00;
    background-color: #ffffff;
    cursor: pointer;
}

.guestButton {
    min-width: 60px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    padding-top: 20px;
    font-size: 13px;
    font-weight: bold;
}

.timeButton {
    border-radius: 10px;
    color: #ffff;
    background-color: #ff3d00;
    min-width: 80px;
    height: 35px;
}

.guestButton.active,
.timeButton.active {
    background-color: #ff3d00;
    color: white;
}

.guestButton:hover,
.timeButton:hover {
    background-color: antiquewhite;
}

.closeButton {
    border: 1px solid #666666b0;
    border-radius: 5px;
    text-align: center;
    margin-top: 30px;
    width: 300px;
    height: 40px;
    padding: 8px;
    cursor: pointer;
    font-weight: bold;
}

/* 캘린더 관련 스타일 */
:global(.react-calendar__tile--now) {
    background: #ff3d00;
}

:global(.react-calendar__month-view__weekdays__weekday abbr) {
    padding: 0.5em;
    text-decoration: none;
}

:global(.react-calendar__navigation__label) {
    flex-grow: 0 !important;
    font-weight: bold;
}

:global(.react-calendar__navigation) {
    display: flex;
    height: 44px;
    margin-bottom: 1em;
}

:global(.react-calendar) {
    border-radius: 18px;
}