* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.h1{
    background-color: ff6600;
    color: #ff6600;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    padding: 40px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.loginContainer input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.loginBtn {
    width: 80%;
    padding: 10px;
    margin: 3px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #ff6600;
    color: white;
    cursor: pointer;
}

.loginBtn:hover {
    background-color: #ff6600;
}

.notification {
    margin-top: 10px;
    color: #ff0000; /* 알림 색상 */
}

.btns {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.toggleButton {
    padding: 8px;
    margin: 8px 0;
    border-radius: 5px;
    font-size: 16px;
    border: none; 
    cursor: pointer;
    background-color: white;
}


.toggleButton:hover {
    color: white;
    background-color: #ff6600;
}
