/* Banner.css */

.banner {
  width: 100%;
  height: 500px;
  background-color: #777;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  margin-bottom: 20px;
  border: 2px solid #ff6600; /* 주황색 테두리 */
  position: relative;
  overflow: hidden; /* 이미지가 배너 크기를 넘지 않도록 설정 */
}

.banner .slide {
  width: 100%;
  height: 100%;
}

.banner .slide-image {
  width: 100%; /* 배너 너비에 맞추기 */
  height: 100%; /* 배너 높이에 맞추기 */
  object-fit: cover; /* 이미지가 배너에 꽉 차면서 비율을 유지 */
}

/* Swiper.js 추가 스타일 */
.swiper-button-next,
.swiper-button-prev {
  color: #ff6600; /* 주황색 내비게이션 버튼 */
}

.swiper-pagination-bullet-active {
  background: #ff6600; /* 주황색 페이징 점 */
}
