.maps-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.mymaps-container {
  display: flex;
  justify-content: center; /* 지도 수평 가운데 정렬 */
  align-items: center; /* 지도 수직 가운데 정렬 */
  flex-grow: 1; /* 페이지의 남은 부분을 지도에 할당 */
}

#my-map {
  width: 100%;
  height: 600px; /* Mymaps의 지도 높이 */
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

