.bookmark-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.bookmark-list {
    list-style-type: none;
    padding: 0;
}

.bookmark-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.2s ease;
}

.bookmark-item:hover {
    background-color: #f0f0f0; /* hover 시 배경색 변경 */
}

.bookmark-item:last-child {
    border-bottom: none;
}

/* 가게 이름 스타일 */
.storeName {
    font-size: 18px;
    color: #333;
    cursor: pointer; /* 마우스 커서를 포인터로 변경 */
    transition: color 0.2s ease;
}

.storeName:hover {
    color: #007BFF; /* hover 시 글자 색 변경 */
}

/* 삭제 버튼 스타일 */
.bookmark-button {
    padding: 8px 16px;
    background-color: #ff6600; /* 주황색 */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.bookmark-button:hover {
    background-color: #cc5200; /* hover 상태에서 어두운 주황색 */
}

.no-bookmarks {
    text-align: center;
    font-size: 16px;
    color: #e98706;
}
