.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.reserveModalContainer {
    background: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 65vh;
    width: 25vw;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    z-index: 1000;
}

.guestListWrapper,
.timeListWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.scrollButton {
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.guestListWrapper .scrollButton.left,
.timeListWrapper .scrollButton.left {
    left: 0;
}

.guestListWrapper .scrollButton.right,
.timeListWrapper .scrollButton.right {
    right: 0;
}

.guestButtons,
.timeButtons {
    display: flex;
    overflow-x: hidden;
    gap: 6px;
    padding: 10px 40px;
    width: 100%;
    scroll-behavior: smooth;

}

.guestButtons {
    margin-left: 6px;
}

.timeButtons {
    margin-left: 1px;
}

.guestButton,
.timeButton {
    height: 60px;
    border-radius: 50%;
    text-align: center;
    padding-top: 8px;
    font-size: 13px;
    font-weight: bold;
    border: 1px solid #ff3d00;
    background-color: #ffffff;
    cursor: pointer;
    padding-top: 9px;
    cursor: all
}

.guestButton {
    min-width: 60px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    padding-top: 20px;
    font-size: 13px;
    font-weight: bold;
}

.timeButton {
    border-radius: 10px;
    color: #ffff;
    background-color: #ff3d00;
    min-width: 80px;
    height: 35px;
}

.guestButton.active,
.timeButton.active {
    background-color: #ff3d00;
    color: white;
}

.guestButton:hover,
.timeButton:hover {
    background-color: antiquewhite;
}

.closeButton {
    border: 1px solid #666666b0;
    border-radius: 5px;
    text-align: center;
    margin-top: 30px;
    width: 300px;
    height: 40px;
    padding: 8px;
    cursor: pointer;
    font-weight: bold;
}

.todayButton {
    display: block;
    margin: 10px auto;
    padding: 8px 16px;
    background-color: #ff3d00;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    width: 100px;
}

.todayButton:hover {
    background-color: #ff3d00;
}

/* 캘린더와 오늘 버튼 간의 여백을 최소화 */
.react-calendar {
    margin-bottom: 0;
}

/* 캘린더 관련 스타일 */
:global(.react-calendar__tile--now) {
    background: #ff3d00;
    border-radius: 50px;
}

:global(.react-calendar__tile:hover) {
    background: #ff3d00;
    border-radius: 50px;
}

:global(.react-calendar__month-view__weekdays__weekday abbr) {
    padding: 0.5em;
    text-decoration: none;
}

:global(.react-calendar__navigation__label) {
    flex-grow: 0 !important;
    font-weight: bold;
}

:global(.react-calendar__navigation) {
    display: flex;
    height: 44px;
    margin-left: 91px;
    margin-bottom: 1em;
}

:global(.react-calendar) {
    border-radius: 18px;
}

.disabledTile {
    cursor: not-allowed;
    opacity: 0.5;
    background: none !important;
}

:global(.react-calendar__navigation__arrow:hover) {
    background-color: transparent !important;
}

:global(.react-calendar__navigation__arrow:focus) {
    background-color: transparent !important;
}

:global(.react-calendar__navigation__prev-button:hover),
:global(.react-calendar__navigation__next-button:hover),
:global(.react-calendar__navigation__label:hover) {
    background: none !important;
    /* 배경 제거 */
    transition: filter 0.3s ease;
    /* 부드러운 효과 전환 */
}

:global(.react-calendar__navigation__prev-button),
:global(.react-calendar__navigation__next-button) {
    background: none !important;
    /* 배경 제거 */
}

.remainingSeats {
    font-weight: bold;
    margin-bottom: 10px;
}