.body {
  flex: 1;
  padding: 20px;
  background-color: white;
}

.sections {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%; /* 부모 컨테이너의 전체 너비를 사용 */
}



.v-scroll-inner {
  display: flex;
  scroll-behavior: smooth;
}
