.reservationContainer {
    padding: 66px;
    max-width: 800px;
    /* 더 넓은 레이아웃을 위해 확장 */
    margin: 0 580px;
    margin-top: -50px;
    margin-left: 530px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.reservationCard {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 700px;
}

.reservationInfoRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.imagePlaceholder {
    width: 80px;
    height: 80px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #ffffff;
    margin-right: 20px;
}

.textInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    margin-left: 36px;
}

.restaurantName {
    font-size: 18px;
    font-weight: bold;
}

.additionalInfo {
    color: #9e9e9e;
    margin-top: 4px;
}

.dateInfo {
    color: #ff5722;
    margin-top: 8px;
}

.reservationActions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.goToReview {
    background-color: #ccc;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.cancelButton {
    background-color: #ff5722;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.viewReviewButton {
    background-color: #ccc;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.loadMoreButtonContainer {
    display: flex;
    justify-content: center;
    /* 수평 중앙 정렬 */
    margin-top: 20px;
    /* 위쪽 여백 추가 */
}

.loadMoreButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff5722;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 285px;
}

.loadMoreButton:hover {
    background-color: #ff5722;
}

.storeImage {
    width: 130px;
    height: 150px;
    padding: 10px;
    margin-top: 50px;
    margin-left: 20px;
}