/* Alarm.css */

.alarmContainer {
    padding: 20px;
    height: 817px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    position: relative;
}

/* 상위 탭 스타일 */
.alarmTabs {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin-bottom: 20px;
    border-bottom: 2px solid #e0e0e0;
    position: sticky;
    top: 0;
    background-color: #f9f9f9;
    z-index: 1000;
}

.alarmTab {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: #666;
    transition: color 0.3s, border-bottom 0.3s;
}

.alarmTab.active {
    color: #007bff;
    border-bottom: 3px solid #007bff;
}

.alarmTab:hover {
    color: #007bff;
}

/* 상위 탭 내용 스타일 */
.alarmContent {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 50%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
