.header {
  position: sticky;
  top: 0;
  z-index: 1000; /* 다른 요소보다 앞에 보이도록 설정 */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
}

.header-section {
  display: flex;
  align-items: center;
}
 
.logo {
  font-size: 24px;
  font-weight: bold;
  flex-basis: 15%;
}

.search-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.search {
  width: 60%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.icon {
  display: flex;
  align-items: center;
}

.faUser {
  font-size: 24px;
  color: white;
  margin-right: 20px;
  cursor: pointer; /* 클릭 가능한 커서 추가 */
}

.faBookmark {
  font-size: 24px;
  cursor: pointer;
  margin-right: 20px;
}

.faBell {
  font-size: 24px;
  cursor: pointer;
}

.notification-wrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.notification-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  display: inline-block;
  min-width: 20px;
  text-align: center;
}

.login-buttons {
  margin-left: 20px;
}

.login-buttons button {
  background-color: #ff6600;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.header .logo {
  font-size: 24px;
  font-weight: bold;
  flex-basis: 5%;
  cursor: pointer;
  padding: 8px 16px;
  background-color: #ff6600;
  color: white;
  border-radius: 4px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.header .logo:hover {
  background-color: #ff8533;
}

.header .logo:active {
  background-color: #cc5200;
}

.header .logo:focus {
  outline: 2px solid #ff6600;
}
