.signupContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.signupForm {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.inputField {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: all 200ms ease-in;
}

.actionButton {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #000; /* 기본 색상: 검정색 */
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.actionButton:hover {
    background-color: #333; /* 호버 시 색상 */
}

/* 조건에 따라 버튼 색상 변경 */
.actionButton.active {
    background-color: #4CAF50; /* 조건 만족 시 색상: 초록색 */
}

.actionButton.active:hover {
    background-color: #45a049; /* 호버 시 색상 */
}

.birthDateContainer {
    display: flex;
    gap: 10px;
    width: 100%;
}

.inputField {
    flex: 1;
}

/* Align <p> tags to the left */
.signupContainer p {
    width: 100%;
    text-align: left;
    margin: 0 0 10px 0;
}
