.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.imageContainer {
    position: relative;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageContainer img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #007BFF;
    transition: transform 0.3s ease;
}

.imageContainer img:hover {
    transform: scale(1.05);
}

.profileDetails {
    width: 100%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.field {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.field label {
    flex: 0 0 30%;
    font-weight: bold;
}

.field input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease;
}

.field input:focus {
    border-color: #007BFF;
    outline: none;
}

.buttonContainer {
    display: flex; 
    justify-content: space-between; 
    margin-top: 20px; 
}

button {
    padding: 10px 15px;
    background-color: #ff6600;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* flex: 1; */
    margin: 0 5px;
}

.buttonContainer .backButton {
}

.buttonContainer .editButton {
}

button:hover {
    background-color: #ff6600; 
}

.deleteButton {
    margin-top: 20px;
    background-color: #dc3545;
    flex: 1;
}

.deleteButton:hover {
    background-color: #c82333; 
}
