.nationwide-section {
  width: 12%;
  padding: 20px;
  background-color: #f9f9f9;
  border: 2px solid #ff6600; /* 주황색 테두리 */
  border-radius: 8px;
  color: #333;
  height: 250px; /* PopularRestaurants와 동일한 높이 설정 */
  text-align: center; /* h2 요소를 중앙 정렬 */
}

.nationwide-section h2 {
  margin-bottom: 20px;
  font-size: 1.5em;
}

.section-body {
  display: flex;
  align-items: center;
  justify-content: center; /* 콘텐츠를 중앙 정렬 */
  position: relative;
}

.v-scroll {
  overflow-x: auto;
  white-space: nowrap;
}

.location-item {
  display: inline-block;
  width: 150px;
  height: 100px;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 8px;
  text-align: center;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.location-item .label {
  position: absolute;
  bottom: 8px;
  left: 0;
  right: 0;
  font-size: 0.9em;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 4px;
  border-radius: 4px;
}

/* Specific styles for the Near Me button */
.nearme-button {
  width: 150px;
  height: 100px;
  background-image: url('../../../img/map.png');
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
}

.nearme-button .label {
  position: absolute;
  bottom: 8px;
  left: 0;
  right: 0;
  font-size: 0.9em;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 4px;
  border-radius: 4px;
}

/* Hover effect for all buttons */
.location-item:hover, .nearme-button:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}
