/* PopularRestaurants.css */
.popular-restaurants {
    width: 48%;
    padding: 20px;
    background-color: #f9f9f9;
    border: 2px solid #ff6600; /* 주황색 테두리 */
    border-radius: 8px;
    color: #333;
  }
  
  .popular-restaurants h2 {
    margin-bottom: 20px;
  }
  
  .restaurant-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  
  .restaurant-card {
    background-color: white;
    padding: 20px;
    border: 2px solid #ff6600; /* 주황색 테두리 */
    border-radius: 8px;
    text-align: center;
  }
  