.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.box {
    width: 100%;
    max-width: 320px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

.input:focus {
    border-color: #ff6600;
    outline: none;
}

.findIdBtn {
    width: 100%;
    padding: 10px;
    background-color: #ff6600;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s, transform 0.1s;
}

.findIdBtn:hover {
    background: linear-gradient(90deg, #ff9933, #ff6600)
}

.findIdBtn:active {
    transform: scale(0.98);
}

.toggleButton {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #ddd;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.toggleButton:hover {
        background: linear-gradient(90deg, #ff9933, #ff6600); /* 호버 시 그라데이션 반전 */
}
